<header class="header-user-dropdown">
  <div class="header-limiter">
    <h1>
      <a style="font-size: 40px" [routerLink]="['/vit-track', 'Sensors']" routerLinkActive="active" href="#">Vit-Track</a>
    </h1>

    <nav>
      <a style="font-size: 18px" [routerLink]="['/vit-track', 'Sensors']" routerLinkActive="active">Sensors</a>
      <a style="font-size: 18px" [routerLink]="['/vit-track', 'LiveReport']" routerLinkActive="active">Live Report</a>
      <a style="font-size: 18px" [routerLink]="['/vit-track', 'HistoricalReport']" routerLinkActive="active">Historical Reports</a>
      <a style="font-size: 18px" [routerLink]="['/vit-track', 'user']" *ngIf="isadmin" routerLinkActive="active">User</a>
      <a style="font-size: 18px" [routerLink]="['/vit-track', 'login']" routerLinkActive="active">Logout</a>
      <!-- <a href="#">Evaluation</a> -->
      <!-- <a href="#">Roles <span class="header-new-feature">new</span></a> -->
    </nav>

    <div class="header-user-menu">
      <img src="../../../assets/images/2.jpg" alt="User Image" />

      <!-- <ul>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Payments</a></li>
        <li><a href="#" class="highlight">Logout</a></li>
      </ul> -->
    </div>
  </div>
</header>
