<app-header> </app-header>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="bigButtons" style="display: flex; flex-direction: column; align-items: center; justify-content: center">
    <div style="display: wrap; justify-content: center;">
      <a
      [routerLink]="['/vit-track', 'HistoricalReport']"
      >
        <input
          type="image"
          src="../../../../assets/images/muse_sensor.jpg"
          [ngStyle]="{ 'background-color': 'red' }"
          class="bigbutton"
          (click)="changeDisplayGraph(1)"
        />
      </a>
      <a
        [routerLink]="['/vit-track', 'HistoricalReport']"
      >
        <input
          type="image"
          src="../../../../assets/images/heart_sensor.jpg"
          [ngStyle]="{ 'background-color': 'red' }"
          class="bigbutton"
          (click)="changeDisplayGraph(2)"
        />
      </a>
      <a
        [routerLink]="['/vit-track', 'HistoricalReport']"
      >
        <input
          type="image"
          src="../../../../assets/images/IMU_sensor.jpg"
          [ngStyle]="{ 'background-color': 'red' }"
          class="bigbutton"
          (click)="changeDisplayGraph(3)"
        />
      </a>

      <a
        [routerLink]="['/vit-track', 'HistoricalReport']"
      >
        <input
          type="image"
          src="../../../../assets/images/skin_sensor.jpg"
          [ngStyle]="{ 'background-color': 'red' }"
          class="bigbutton"
          (click)="changeDisplayGraph(4)"
        />
      </a>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>