<mat-card>
  <mat-card-header>
      <h2>Registeration</h2>
  </mat-card-header>
  <mat-card-content>
      <form class="example-form" [formGroup]="registerform" (ngSubmit)="proceedregister()">
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" style="width: 1000px;">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" >
            <span style="position: absolute; top: 0; right: -10px;">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Infobox_info_icon.svg/480px-Infobox_info_icon.svg.png" alt="Info icon" width="20" height="20"
                   title="Must contain at least one number, one uppercase letter, one lowercase letter, and be at least 8 characters long">
            </span>
          </mat-form-field>
        </div>  
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" >
            <span style="position: absolute; top: 0; right: -10px;">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Infobox_info_icon.svg/480px-Infobox_info_icon.svg.png" alt="Info icon" width="20" height="20"
                   title="Please enter correct email format">
            </span>
          </mat-form-field>
        </div>
        <div>
          <mat-radio-group formControlName="gender" aria-label="Select an option">
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
            <button mat-raised-button color="primary">Submit</button>
            <a style="margin-left: 20px" [routerLink]="['/vit-track', 'login']" mat-raised-button color="accent">Back to Login</a>
        </div>
        </form>
  </mat-card-content>
</mat-card>